.more-div
    border: 1px black solid
    background: #000000b4
    color: #ffffffda
    font-size: 2rem
    font-weight: 500
    width: 25%
    height: 10%
    display: flex
    justify-content: center
    align-items: center
    z-index: 1
    cursor: pointer