.more-div
    // border: 1px black solid;
    font-size: 2rem
    width: 15vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #2e455752;
    // cursor: grab;
    z-index: 1